  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f0f0;
}


h1 {
  font-size: 1.6rem;
  text-align: center;
  margin: 16px 0;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

label {
  display: flex;
  flex-direction: column;
}

input {
  font-size: 1.1rem;
  padding: 8px 16px;
}

input:focus {
  outline-color: #ca4802;
}

button {
  border: none;
  background: #ca4802;
  color: white;
  font-weight: bold;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0px 2px 1px #00000030;
  transition: all 0.2s;
}

button:hover {
  background: white;
  color: #ca4802;
}
